* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: green;  
}

.hero {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 15px 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: yellow;

  &--main {
    top: 50%;
    left: 20%;
    background-color: blue;
    z-index: 100;
    cursor: pointer;
  }

  &--enemy {
    background-color: red;
  }

  &--enemy-1 {
    top: 25%;
    right: 20%;;
  }

  &--enemy-2 {
    top: 50%;
    right: 20%;;
  }

  &--enemy-3 {
    top: 75%;
    right: 20%;;
  }
}

/*.points {
  position: absolute;
  top: -30px;
  right: -35px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
}*/

.game-over {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 65px);
  z-index: 1000;
  text-align: center;
  font-size: 130px;
  line-height: 1;
  color: #8eff00;
  transform: scale(0);
  transition: 0.3s transform ease;
  transition-delay: 0.5s;

  &--show {
    transform: scale(1);
  }
}

.victory {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(25%);
  z-index: 1000;
  text-align: center;
  font-size: 100px;
  line-height: 1;
  color: #f06;
  transform: scale(0);
  transition: 0.3s transform ease;
  transition-delay: 0.5s;

  &--show {
    transform: scale(1);
  }
}